{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb=5">
	<div class="row justify-content-center mt-5">
		<div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
			<h1>UNRIVALED CHICAGO STREET FOOD</h1>
		</div>
	</div>
	<div class="row justify-content-center mt-1">
		<div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
			<p>
				In 1963, Dick Portillo invested $1,100 into a small trailer to open the first Portillo's hot dog stand in Villa Park, IL, which he called "The Dog House." Years later, Portillo's has become a brand synonymous with Chicago. In fact, we're kind of a big dill- people say it's not a real trip to Chicago unless you eat at Portillo's. Fortunately, die-hard fans and first-timers alike have their choice of Portillo's restaurants, as we've beefed up to more than 60 locations across several states.
			</p>
			<p>
				We're known for our famous Chicago-style hot dogs, Italian beef sandwiches, chopped salad, cheese fries, homemade chocolate cake, and chocolate cake shake. Our Italian beef is slow-roasted for four hours, thinly sliced, and served on freshly baked French bread. Then, it's dipped in hot gravy made with our homemade blend of seasonings that we've been perfecting for 50 years. Haven't tried Portillo's yet? Order an Italian beef, dipped with sweet or hot peppers (add mozzarella if you're feeling cheesy), or a Chicago-style hot dog "dragged through the garden" and you'll see what all the hype is about.
		   </p>
			<p>
				No matter the location, our fans are bun-believably obsessed! Guests cake shake their way in for our Chicago-style hot dogs, Italian beef sandwiches, char-grilled burgers, cheese fries, fresh salads and famous chocolate cake. But it's not just our menu that sets Portillo's apart.
			</p>
		</div>	
	</div>
</div>
{% endblock content %}